* {
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}

.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  
}
.nav-link {
    color: black !important;
}
.navbar-light .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #c1a24b !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #c1a24b;
}


.navbar-collapse{
    background:#c1a24b;
z-index: 12;
}

h1, 
h2,
a,
p{
    font-family: Georgia, 'Times New Roman', Times, serif

}
 .text404{
    text-align: center;
    font-size: 5.3em;
    padding: 20%;
    }
/********/
/*HEADER*/
header nav {
    background-color: #00274d;
    width: 100%;
    height: 100px;
}

header div div ul {

    display: flex;
    text-decoration: none;
    margin: 25px;

}

.navbar-toggler{
    color: #c1a24b !important;
}

/********Titulo ***/
.navbar-light .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #c1a24b  !important;
    margin: 25px;
}
/****UL LI******/
.nav-item active{
    margin: 25px;
    list-style: none;
    text-align: end;
}

.nav-link{
    color: aliceblue !important;
}


/***********************/
/*BANNER*/
.banner img {
    width: 100%;
    height: 700px;
}

/************************/
/*SEÇÃO HERO*/
.bloc {
    padding: 30px;
}

.jumbotron,
 .jumbotron-fluid {
    background-color: #00274d !important;
    border-radius: 20px !important;
}


.display-4{
    color: #c1a24b;
    font-size: 2.5em !important;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.lead{
    color: aliceblue;
    font-size: 2em;
    text-align: center;
    padding-top: 25px;
}


.display a {
    text-decoration: none;
}

.display h2{
    color: aliceblue;
    font-family: 1.9em;
    padding-top: 50px;
    text-align: center;
}

.display h2:hover {
    color: #c1a24b;
    font-family: 1.9em;
    padding-top: 50px;
    text-align: center;


}

/**********************/
/*AREA DE ATUAÇÃO*/
.areaAtuacao {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.areaAtuacao div ul {
    display: flex;
    padding: 10px;
}

.areaAtuacao div li {
    list-style: none;
    padding: 2px;
}

.areaAtuacao a {
    color: #00274d;
    font-size: 2em;
    text-decoration: none;
}

.areaAtuacao a:hover {
    color: #c1a24b;

}

/**********************/
/*SOBRE NÓS */
.bloco {
    display: flex;
    justify-content: space-around;
}

.bloco div p {
    text-align: center;
    color: #dfddd8;
}

.equipe {
    padding: 5px;;
}

.equipe img {
    width: 550px;
    height: 350px;
    border-radius: 20px;
}


.historia {
    padding: 2%;
}

.historia img {
    width: 550px;
    height: 350px;
    border-radius: 20px;
}


.trabalho {
    padding: 2%;
}

.trabalho img {
    width: 550px;
    height: 350px;
    border-radius: 20px;
}

/*********************/
/*Comentarios*/
.card{
    display: flex;
    flex-direction:row-reverse;
    width: 350px;
}

.card-title{
    color: #c1a24b;
}

.blockquote-footer{background-color: #00274d;}


/***************************/
/*FOOTER*/
footer {
    background-color: #545454;
    width: 100%;
    height: 250px;
}

footer div {
    display: flex;
    justify-content: center;

}

.contato {
    padding: 50px;
    position: relative;

}

.contato ul li {
    list-style: none;
    margin: 10px;
}

.contato li a {
    color: aliceblue;
    text-decoration: none;
}

.redes {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    position: relative;

}

.redes ul {

    display: flex;
    justify-content: space-around;
}

.redes ul li {
    list-style: none;
    margin: 10px;
}

.redes li a {
    color: aliceblue;
    text-decoration: none;
}

/********************/
/**Pagina contato*/
.contato{
    display: flex;
    justify-content: space-between;
}
.cards{
    width: 590px;
    margin: 10px;
    border-radius: 1%0px;
    background-color: #00274d !important;
}

.cards ul li a{
    color: #e6b735;
    text-decoration: none;
}

.cards ul li a:hover {
    color:bisque;
}

div h2{
    text-align: center;
    color: #00274d;
}

.form{
    background-color: #545454;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  
}

.form-row label, 
input{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
}

label,
input{
    color: #e6b735;
}
/********************/
/**Ações Juridicas**/
.acoesJuric{
    display: flex;
}

.blocAcoes{

    padding: 25px;
    margin: 15px;
    border:1px solid rgba(0, 0, 0, .125);
    
}

.cardA{ 
    padding: 10px;
}

/***************************/
/**PAINEL ADMIN - INDEX**/
.BOX{
    width: 100%;
    height: 900px;
    background:#00274d;
}
.box{
        color: #000; 
}


.box {
    width: 100%;  
    text-align:justify;
    background-color: #dfddd8;
}

.conteudoCad ul {
    display: flex;
    justify-content:space-around;
    list-style: none;

    &
    a {
        list-style: nome;
        color: #c1a24b;
    }
}
#menuFixoTitulo h1{
    text-align: center;
    color: #e6b735;
    background:#00274dd5;
}
/******************************/
/*Painel Dashboard*/
.containerPainel
{
    
         max-width: 1920px;
         justify-self: center;
        align-self: center;
        padding-top: 20px;
}

.containerPainel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;

}

.item{
    background: #c1a24b;
}

.item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  width: 560px;
  height: 450px;
}

.item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  width: 520px;
  height: 300px;
   justify-self: center;
  align-self: center;
}

.item:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
  width: 560px;
  height: 450px;
}

.item:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
  width: 560px;
  height: 450px;
}

.item:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
  width: 520px;
  height: 300px;
   justify-self: center;
  align-self: center;
}

.item:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
  height: 450px;
  width: 560px;
}